         <div style="height: {{innerHeight}};">
            <mat-grid-list [cols]="breakpoint" row="pageSize/4" (window:resize)="onResize($event)" rowHeight="50px">
            <ngx-spinner
            bdOpacity = 0.8
          
            size = "default"
            color = "#fff"
            type = "square-jelly-box"
            [fullScreen] = "true"
            >
            <p style="color: white" > Loading... </p>
            </ngx-spinner>
            <mat-grid-tile
            *ngFor="let quote of restaurants | async; let i=index"
                [colspan]="1"
                [rowspan]="5"
               >
               <mat-card  class="artha-card">
                 <img mat-card-image height="350"  [src]="quote.url">
                </mat-card>
               
            </mat-grid-tile>
          </mat-grid-list>
        </div>
          <mat-paginator [length]="length "
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent=getServerData($event)">
</mat-paginator>