.header{
    flex:1 1 30px;border: 1px solid white; height: 30px; line-height: 30px; text-align: center;
}
.headerFirst{
    flex:1 1 100px;border: 1px solid white; height: 30px;line-height: 30px; text-align: center;
}